*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.5s;
}

h1,
h2,
h3 {
  font-weight: $font-semi-bold;
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
